/*
 * Copyright (c) 2024-2025 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/adc/adc.h>

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 DT_SIZE_K(36)>;
		};

		nvs: partition@9000 {
			label = "nvs";
			reg = <0x9000 DT_SIZE_K(20)>;
		};

		otadata: partition@e000 {
			label = "otadata";
			reg = <0xe000 DT_SIZE_K(8)>;
		};

		app0: partition@10000 {
			label = "app0";
			reg = <0x10000 DT_SIZE_K(3072)>;
		};

		user_sketch: partition@310000 {
			label = "user_sketch";
			reg = <0x310000 DT_SIZE_K(3072)>;
		};

		spiffs: partition@610000 {
			label = "spiffs";
			reg = <0x610000 DT_SIZE_K(10112)>;
		};

		coredump: partition@ff0000 {
			label = "coredump";
			reg = <0xFF0000 DT_SIZE_K(64)>;
		};
	};
};

/* Remaining flash size is 0kB
 * Last used address is 0xFFFFFF
 */

/ {
	zephyr,user {
		digital-pin-gpios = <&arduino_nano_header 0 0>,
				    <&arduino_nano_header 1 0>,
				    <&arduino_nano_header 2 0>,
				    <&arduino_nano_header 3 0>,
				    <&arduino_nano_header 4 0>,
				    <&arduino_nano_header 5 0>,
				    <&arduino_nano_header 6 0>,
				    <&arduino_nano_header 7 0>,
				    <&arduino_nano_header 8 0>,
				    <&arduino_nano_header 9 0>,
				    <&arduino_nano_header 10 0>,
				    <&arduino_nano_header 11 0>,
				    <&arduino_nano_header 12 0>,
				    <&arduino_nano_header 13 0>,
				    <&arduino_nano_header 14 0>, /* D14 / A0 */
				    <&arduino_nano_header 15 0>,
				    <&arduino_nano_header 16 0>,
				    <&arduino_nano_header 17 0>,
				    <&arduino_nano_header 18 0>, /* D18 / A4 / I2C-SDA */
				    <&arduino_nano_header 19 0>, /* D19 / A5 / I2C-SCL */
				    <&arduino_nano_header 20 0>,
				    <&arduino_nano_header 21 0>;

		pwm-pin-gpios =	    <&arduino_nano_header 6 0>, // TODO
				    <&arduino_nano_header 5 0>,
				    <&arduino_nano_header 17 0>,
				    <&arduino_nano_header 12 0>,
				    <&arduino_nano_header 2 0>,
				    <&arduino_nano_header 3 0>,
				    <&arduino_nano_header 9 0>,
				    <&arduino_nano_header 10 0>;

		adc-pin-gpios =     <&arduino_nano_header 14 0>, // TODO
				    <&arduino_nano_header 15 0>,
				    <&arduino_nano_header 16 0>,
				    <&arduino_nano_header 17 0>,
				    <&arduino_nano_header 18 0>,
				    <&arduino_nano_header 19 0>,
				    <&arduino_nano_header 20 0>,
				    <&arduino_nano_header 21 0>;

//		pwms =	<&tcc0 0 255>, // TODO
//			<&tcc0 1 255>,
//			<&tcc0 2 255>,
//			<&tcc0 3 255>,
//			<&tcc0 4 255>,
//			<&tcc0 5 255>,
//			<&tcc0 6 255>,
//			<&tcc0 7 255>;

//		io-channels =	<&adc 0>,
//				<&adc 10>,
//				<&adc 11>,
//				<&adc 4>,
//				<&adc 5>,
//				<&adc 6>,
//				<&adc 7>;

		//serials = <&sercom5>;
		//i2cs = <&arduino_nano_i2c>;
	};
};

// &adc {
// 	status = "okay";
// };
